#name{
  float: top;
}

#sidebar{
  float: left;
}

#members{
  list-style-type: none;
  margin: 4px;
  border: 0px;
}

#suggestions{
  position: absolute;
  top: 65px;
  left: 250px;
}

#movies{
  position: absolute;
  top: 95px;
  left: 210px;
  display: inline-block;
}

.movie {
  display: inline-block;
  width: 160;
  height: 200;
  margin: 40px;
}
