#info{
  float: left;
  width: 200px;
}

#yours{
  position: absolute;
  top: 325px;
  text-align: left;
}

#favs{
  float: right;
}

#fav1{
  height: 320px;
  width: 200px;
  border: 10px;
  margin: 50px;
}

#fav2{
  height: 320px;
  width: 200px;
  border: 10px;
  margin: 50px;
}

#fav3{
  height: 320px;
  width: 200px;
  border: 10px;
  margin: 50px;
}

#fav4{
  height: 320px;
  width: 200px;
  border: 10px;
  margin: 50px;
}
#aboutme{
  position: absolute;
  top: 425px;
  left: 250px;
  right: 25px;
}

#friends{
  position: absolute;
  top: 400px;
  left: 5px;
  
}

#besties{
  position: absolute;
  top: 405px;
  left: 10px;
}

#friends-list{
  position: absolute;
  top: 430px;
  left: 10px;
}

#button{
	position: absolute;
	top: 120px;
	left: 7px;
	background-color: gray;
	border: none;
	color: white;
	padding: 12px 24px;
}
