html, body {
  background-color: white;
  font-weight: 200;
}

a:hover, a:visited, a:active, a:focus{
  text-decoration: none;
}


/*Left Groups Bar*/
#left {
  background-color: white;
  display: inline-block;
  float: left;
  padding-top: 0px;
  width: 25vw;
  height: 100vh;
  border-right: 1px solid gray;
  padding: 0px;
}

#left .icon {
  color: white;
  background-color: #3498db;
  padding: 15px 45%;
  border-bottom: 1px solid #95a5a6;
}

#left ul {
  list-style-type: none;
}

#left ul li {
  font-weight: 100;
  font-size: 16px;
  height: 50px;
  padding-top: 14px;
  border-bottom: 1px solid #95a5a6;
}

#left a {
  color: gray;
}

.icon i{
  transition: color 0.5s;
}
.icon i:hover {
  color: white;
}


/*Container for Navigation Bar*/
#right {
  overflow: auto;
  background-color: #3498db;
  float: right;
  height: 73px;
  width: 75vw;
  border-bottom: 1px solid #95a5a6;
}

/*Navigaion Bar*/
.nav {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-block;
  float: right;
  font-size: 17px;
  font-weight: 100;
  margin: 20px 20px;
}

.nav a {
  content-align: right;
  display: inline-block;
  color: white;
  padding: 6px 16px;
  text-align: center;
  transition: color 0.5s;
}

.nav a:hover {
  color: white;
}

.nav a {
  overflow: hidden;
  border-right: solid;
  border-width: thin;
  border-color: white;
}

.nav a:last-child {
  border-right: none;
}

.searchbar {
  width: 500px;
  padding: 6px 16px;
  font-size: 18px;
  font-weight: 100;
  margin: 13px 20px;
  border-radius: 5px;
}

.textinput {
  width: 17em;
  border: none;
  outline: none;
}

input[type="text"], textarea {
  outline: none;
  box-shadow:none !important;
  border:0 !important;
}

/*Main Screen for viewing movies*/
#main {
  height: 85vh;
  background-color: white;
  display: inline;
  float: right;
  width: 75vw;
  font-size: 18px;
}

#main ul {
  list-style-type: none;
  padding: 15px;
}

#main ul li {
  display: inline;
  padding: 10px;
}

img {
  width: 150px;
  height: 216px;
}
